<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>vimpy technical blog</title>
    <link rel="stylesheet" href="/../static/pstyle.css" type='text/css'>
</head>
<body>
    <div class="container">
        <header id="header" class="">
            <nav>
                <ul>
                    <li><a href= {{ request.route_url("home")}} title="Home">Home</a></li>
                    {% if request.has_permission('edit') %}
                    <li><a href= {{ request.route_url("add_entry")}} title="New Entry">New Entry</a></li>
                    {% endif %}
                    {% if not request.authenticated_userid %}
                    <li><a href= {{ request.route_url("login") }}>Log In </a></li>
                    {% endif %}
                    {% if request.authenticated_userid %}
                    <a href="{{ request.application_url }}/logout">Logout</a>
                    {% endif %}
                </ul>
            </nav>
            <h1>VimPY</h1>    
            <h2>Python, Vi, and other technical musings.</h2>
        </header>
        {% block content %}
        <p>No entries here so far</p>
        {% endblock content %}
    </div>
    <footer>
        <a id=citation href='http://www.freepik.com/free-vector/green-abstract-background_774104.htm'>Designed by Freepik</a>
    </footer>
    
</body>
</html>
