{% extends "base.jinja2" %}
{%block content%}

<section id="entry-view">
    <h2>{{ entry.title }}</h2>
    <h4>{{ entry.time }}</h4>

    {% if request.has_permission('edit') %}
    <h5><a href={{ request.route_url('edit_entry', entry=entry.id) }} id="edit-link">Edit This Post</a></h5>
    {% endif %}
    
    <p>{{ entry.text }}</p>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ entry.title }}" data-via="SelenaFlannery" data-size="small" data-hashtags="python">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    
</section>
{%endblock content%}


